@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pqior9');
    src:  url('../fonts/icomoon.eot?pqior9#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?pqior9') format('truetype'),
      url('../fonts/icomoon.woff?pqior9') format('woff'),
      url('../fonts/icomoon.svg?pqior9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-stack:before {
    content: "\e92e";
  }
  .icon-box-add:before {
    content: "\e95e";
  }
  .icon-gift:before {
    content: "\e99f";
  }
  .icon-truck:before {
    content: "\e9b0";
  }
  .icon-exit:before {
    content: "\ea14";
  }

  
/* Generales */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/bg.png');
}

.container{
    width: 80%;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px gray;
}

a{
    color: #01b1ca;
    text-decoration: none;
}

a:hover{
    color: #555;
}

.alerta{
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    box-shadow: 0 1px 3px #ccc;
    border-radius: 5px;
}

.alerta-exito{
    color: green;
    background: #cfeecf;
    border: 1px solid green;
}

.alerta-error{
    color: #d41e1e;
    background: #f5c2c2;
    border: 1px solid #d41e1e;;
}

table{
    border: 1px solid #555;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin: 5px auto;
}

caption{
    padding: 10px;
    font-weight: 700;
}

td{
    border-top: 1px solid #ccc;
    padding: 5px;
}

tfoot{
    font-weight: 700;
}


/* Header */

.header{
    height: 145px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
}

.logo {
    display: inherit;
    align-items: inherit;
    margin: 30px;
}

.logo a{
    display: inherit;
    align-items: inherit;
}

.logo a:hover{
    color: #01b1ca;
}

.logo img{
    height: 80px;
    margin-right: 20px; 
}

.logo h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 3px 0 #222;
    transition: text-shadow 300ms;
}

.logo h1:hover{
    text-shadow: 0 3px 0 #222, 0 0 5px #01b1ea;
}


/* Menú */

.menu{
    background: #222;
    height: 60px;
    border-bottom: 4px solid #01b1ea;
    display: flex;
}

.menu ul{
    display: inherit;
    width: 100%;
    height: inherit;
    justify-content: space-around;
    list-style: none;
}

.menu a{
    display: inherit;
    height: inherit;
    padding: 0 15px;
    align-items: center;
    color: white;
    transition: text-shadow 200ms;
}

.menu a:hover{
    text-shadow: 1px 1px 5px white, -1px -1px 5px white;
}


/* Content */

.content{
    max-height: 800px;
    overflow: hidden;
    display: flex;
}


/* Barra lateral */

.sidebar{
    overflow: auto;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}

.block-aside{
    text-align: center;
}

.block-aside h2{
    color: #222;
    font-size: 20px;
    background: #e1e1e1;
    border-bottom: 2px solid #01b1ea;
    margin-bottom: 10px;
    padding: 2px 0;
}

select,
textarea,
input[type=file],
input[type=text],
input[type=email],
input[type=password],
input[type=number]{
    width: 80%;
    margin-bottom: 5px;
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

select:focus,
textarea:focus,
input[type=file]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus{
    border: 1px solid #1579b5;
    color: black;
}

.button,
button,
input[type=button],
input[type=submit]{
    color: white;
    padding: 5px 10px;
    background-color: #2979cd;
    border-radius: 2px;
    border: 1px solid #11608e;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.sidebar ul{
    list-style: none;
    padding: 5px 10px;
    margin-top: 10px;
}

.sidebar li{
    margin: 5px;
    font-size: 14px;
}

#login p{
    margin: 8px 0;
}

/* Contenido principal */

main{
    overflow: auto;
    width: 75%;
    min-height: 500px;
    border-left: 1px solid #ccc;
    box-shadow: -5px 0 5px #ddd;
}

h3{
    text-align: center;
    font-size: 20px;
    padding: 15px;
    letter-spacing: 1px;
}

hr{
    width: 95%;
    margin: 0 auto 5px;
    background: #ddd;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product{
    width: 30%;
    margin: 15px 0;
    text-align: center;
}

.product img{
    height: 100px;
}

.product p{
    color: #555;
    margin-bottom: 8px;
}

.product a, .product-detail a, .pedido{
    background: #28b346;
    border-color: #2f9445;
    width: 113px;
    text-align: center;
}


/* Footer */

footer{
    color: white;
    background: #222;
    padding: 20px;
    text-align: center;
    border-top: 4px solid #01b1ea;
}


/* Registro y Gestion de Categorías*/

main form{
    padding: 15px;
    text-align: center;
}

main label{
    display: block;
}

/* Página 404 */

.no_encontrada div{
    background: #1579b5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.no_encontrada p{
    color: white;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

/* Gestión de Categorias */

main .botones-contenedor a{
    width: 100px;
    border: 0;
    display: inline-block;
    margin: 20px 5px;
}

.botones-contenedor{
    text-align: center;
}

.boton-crear{
    background: green;
}

/* Gestión de productos */

.miniatura{
    width: 50px;
    display: block;
    margin: 5px auto;
}


/* Detalle del producto */

.product-detail{
    width: 90%;
    min-height: inherit;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.product-detail .img{
    width: 60%;
}

.product-detail img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-detail .detail{
    width: 40%;
    padding-left: 5px;
}

.product-detail p{
    margin: 5px 0;
}

/* Carrito de compras */

.principal_carrito img, .detalle_pedido img{
    height: 80px;
}

.pedido{
    margin-bottom: 10px;
}

.confirmado p, .detalle_pedido p{
    text-align: center;
    margin: 5px;
}

.confirmado span, .detalle_pedido span{
    font-style: italic;
    font-weight: 700;
}


